
@{
    ViewBag.Title = "Organizar";
    int index1 = 0;
    int index2 = 0;
}

<h2>Registros Organizados</h2>

@model IEnumerable<TesteMixFiscal.Models.Nota>

<br />
<div class="row" style="margin-bottom: 15px;">
    <div class="col-md-12">
        @Html.ActionLink("Retornar aos Registros", "Index")
    </div>
</div>

@*Tabela do tipo NF-e*@
<table class="table">
    <tr>
        <th>
            Ref.
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tipo.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descricao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CodItem)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DescCompl)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ean)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Qtd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VlItem)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Vinculo)
        </th>
    </tr>

    @foreach (var item in Model.Where(x => x.TipoId == 1))
    {
        index1++;
        <tr>
            <td>
               @index1
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tipo.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodItem)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DescCompl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ean)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Qtd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VlItem)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vinculo)
            </td>
        </tr>
    }

</table>

<br />
<br />

@*Tabela do Tipo SPED*@
<table class="table">
    <tr>
        <th>
            Ref.
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tipo.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descricao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CodItem)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DescCompl)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ean)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Qtd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VlItem)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Vinculo)
        </th>
    </tr>
    
    @foreach (var item in Model.Where(x => x.TipoId == 2))
    {
        index2++;
        <tr>
            <td>
                @index2
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tipo.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodItem)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DescCompl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ean)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Qtd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VlItem)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vinculo)
            </td>
        </tr>
    }

</table>
